<div class="header" id="myDIV">
  <h2 style="margin:5px">My To Do List</h2>
  <form (ngSubmit)="addTodo()" [formGroup]="todoForm">
    <div class="form-group">
      <input class="form-control" formControlName="title" type="text"/>
    </div>
    <div class="form-group">
      <button [disabled]="todoForm.invalid" class="btn btn-primary col-md-4 addBtn" type="submit">Add</button>
    </div>
  </form>
</div>
<ul id="myUL">
  <li *ngFor="let todo of todos; let i = index;"  class="row">
    <span class="todo col-8 click" [class.badge-success]="todo.complete" (click)="updateTodo(todo,!todo.complete)">
         {{todo.todo}}
    </span>
  <span class="click col-4" (click)="removeTodo(todo.id)"><i class="fa fa-trash"></i></span>
  </li>

</ul>
<p class="alert-success text-lg-center" *ngIf="!todos.length">Good job, You did all todos!</p>
