<div class="header" id="myDIV">
  <h2 style="margin:5px">My To Do List</h2>
  <form (ngSubmit)="addTodo()" [formGroup]="todoForm">
    <div class="form-group">
      <input id="todo-title" class="form-control" formControlName="title" type="text"/>
    </div>
    <div class="form-group">
      <button [disabled]="todoForm.invalid" class="btn btn-primary col-md-4 addBtn" type="submit">Add</button>
    </div>
  </form>
</div>
<ul id="myUL">
  <li *ngFor="let todo of todos; let i = index;"  class="row">
    <span class="todo col-8 click" (click)="updateTodoStatus(todo)">
      <i  class="radius" [class.badge-success]="todo.completed">   {{todo.todo}} </i>
    </span>
  <span class="col-4" >
    <i class="click fa fa-edit text-primary p-1" title="Edit"(click)="open(updateTodoModal,todo)" ></i>
    <i class="click fa fa-trash text-danger p-1" title="Delete" (click)="removeTodo(todo.id)"></i>
  </span>
  </li>

</ul>
<p class="alert-success text-lg-center" *ngIf="todos && !todos.length && !connectionError">Good job, You did all todos!</p>
<p class="alert-danger text-lg-center" *ngIf="connectionError">Check your connection</p>


<ng-template #updateTodoModal let-modal>
  <form (ngSubmit)="updateTodo()" [formGroup]="todoForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Todo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="todoTitle">Title</label>
        <input id="todoTitle"  required class="form-control" formControlName="title" type="text"/>
      </div>
      <div class="form-check">
        <input id="todoCheck" type="checkbox" formControlName="completed" class="form-check-input">
        <label class="form-check-label" for="todoCheck">Check me out</label>
      </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="(this.todoForm.controls.title.value !== '') && modal.close(this.todoForm.controls)">Update</button>
  </div>
  </form>
</ng-template>
